html,body {
	padding: 0px;
	margin: 0px;
}
#PageWrapper {
	text-align: center;
	background: #eee;
}
#Page {
	margin: 0px auto;
	text-align: left;
	width: 95%;
	max-width: 800px;
	background: #fff;
}
#Header h1 {
	font-family: sans-serif;
	padding: 5px;
	margin: 0;
}
#Header h2 {
	font-family: sans-serif;
	padding: 4px;
	margin: 0;
}
#Menu {
	border-bottom: 2px solid red;
}
#Menu ul {
	padding:1px;
	margin: 0;
}
#Menu ul li {
	display: inline;
	list-style-type: none;
}
#Menu ul li a {
	text-decoration: none;
	font-family: sans-serif;
	color: black;
}
#Menu ul li.current a {
	font-weight: bold;
}
#Body {
	font-size: 12pt;
	padding: 10px;
}
#Body form.giant {
	display: block;
	padding: 20px 50px;
	font-size: 14pt;
}
#Body form.giant ul {
	padding: 0px;
}
#Body form.giant ul li {
	padding: 10px 0;
	list-style-type: none;
}

#Body form.giant label {
	display: block;
}
#Body ul.teamList li {
	list-style-type: none;
	padding: 10px 10px 10px 45px;
}
#Body ul.teamList li.member {
	background: url('avatar.png') no-repeat;
	max-height: 40px;
	margin: 20px;
}
#Body ul.teamList li.member div.name {
	font-size: 14pt;
	color: green;
}
#Body ul.teamList li.member div.email {
	font-size: 12pt;
}
#Body ul.teamList li.member div.status {
	font-size: 10pt;	
}
#Body div.sendMessageWrapper {
	margin: 10px 40px;
	background: #ddd;
	padding: 20px 40px;
}
#Body div.sendMessageWrapper form textarea {
	width: 100%;
	height: 40px;
}
#Body div.sendMessageWrapper form ul.categories li {
	list-style-type: none;	
}
#Body div.sendMessageWrapper form ul.users li {
	float: left;
	width: 100px;
	text-align: center;
	list-style-type: none;
}
#Body div.sendMessageWrapper form div.submit {
	text-align: right;
	clear: both;
}
#Footer {
	text-align: center;
	font-size: 8pt;
}
